@font-face {
    font-family: 'Equipment';
    src: url('../fonts/EquipmentPro.woff2') format('woff2'),
    url('../fonts/EquipmentPro.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Equipment';
    font-size: 14px;
    margin: 0;
    background: #ab6a8c;
    color: #deab3b;
}

p, span, h1, h2, h3, h4, a {
    margin: 0;
    padding: 0;
    color: inherit;
}

/* INTRO */
.background-title {
    position: relative;
    background: url("../img/background.png");
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.background-title .title {
    position: absolute;
    margin-top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    z-index: 99;
}

.background-title .layer-1, .background-title .layer-2, .background-title .layer-3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: contain !important;

}

.background-title .layer-1 {
    background: url(../img/moon_1.png);
}


.background-title .layer-2 {
    background: url(../img/mountain_1.png);
}

.background-title .layer-3 {
    background: url(../img/forest_1.png);
}

.intro-text {
    position: relative;
    background: #351f15;

    width: 100%;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    padding: 10rem 0;
    z-index: 999;
}

.intro-text:after {
    content: "";
    position: absolute;
    background-image: url(../img/intro-text-after.png);
    background-size: 50%;
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    left: 0;
    top: 100%;
}

.intro-text p {
    width: 25%;
    margin: 0 auto;
    min-height: 11em;
    max-height: 11em;
}

button {
    font-family: inherit;
    color: inherit;
    padding: .75rem 2rem;
    margin: 2rem 1rem 0;
    font-size: 1.5rem;
    position: relative;
    border: none;
    background-image: url(../img/button/button-mid.png);
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
}

button:before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(../img/button/button-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-10%);
}

button:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/button/button-right.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(10%);
}

.ui-dialog-buttonset button:before, .ui-dialog-buttonset button:after {
    content: none !important;
}


button:hover {
    background-image: url(../img/button/button-mid-hover.png);
}

button:hover:before {
    background-image: url(../img/button/button-left-hover.png);
}

button:hover:after {
    background-image: url(../img/button/button-right-hover.png);
}

/* */

img {
    width: 100%;
}


/* GAME */


/* HERO */
#hero {
    position: absolute;
    width: calc(350px / 1.5);
    height: calc(259px / 1.5);
    background-size: contain;
    bottom: 90px;
    z-index: 9;
    top: 70%;
}


#hero.walking.idle {
    background-image: url('../img/adventurer/adventurer_idle.gif');
}

#hero.walking {
    background-image: url('../img/adventurer/adventurer_walking.gif');
    animation: walk-right 4000ms forwards;
    animation-delay: 500ms;
    opacity: 0;
}

@-webkit-keyframes walk-right {
    0% {
        right: -200px;
        opacity: 1;
    }

    100% {
        right: 250px;
        opacity: 1;
    }
}

@-webkit-keyframes walk-back {
    0% {
        right: 250px;
        opacity: 1;
    }

    100% {
        right: -200px;
        opacity: 1;
    }
}


#hero.in-kingdom {
    transform: scaleX(-1);
}

/* KINGDOM */

.game {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.game .kingdom {
    background-image: url('../img/castle-wall.png');
    background-size: contain;
    height: inherit;
    overflow: hidden;
    position: relative;
}

.game .kingdom .king {
    background-image: url(../img/king_idle.gif);
    background-size: contain;
    position: absolute;
    height: calc(343px / 1.6);
    width: calc(168px / 1.6);
    bottom: 200px;
    left: 10%;
    z-index: 9;
}

.kingdom .floor {
    background-image: url('../img/castle-floor.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    height: 230px;
    width: 100%;
}

.chandeliers {
    width: 100%;
    display: flex;
    height: 250px;
}

.chandeliers img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.chandelier {
    display: inline-flex;
    width: 33.3%;
}

/* */


#disableScrollDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    overflow: hidden;
    background-color: transparent;
}

#overlay {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

/* width en height nog veranderen naar auto */

button:focus {
    outline: 0;
}

.ui-dialog-titlebar {
    display: none;
}

.ui-widget.ui-widget-content {
    border: none;
    position: fixed !important;
    width: 300px;
    height: auto;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.ui-dialog .ui-dialog-buttonpane {
    border: none;
    margin: 0;
    padding: 0;
}

.ui-dialog-buttonset {
    display: flex;
    white-space: nowrap;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0;
    border-width: 10px;
    flex: auto;
    padding: 0 1rem;
    color: white;
    border-style: solid;
    border-image-source: url(../img/border-image-golden2.png);
    border-image-repeat: repeat;
    border-image-slice: 8 8 8 8;
    border-image-width: 11px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url(../img/background-image-golden2.png) repeat repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
}

#dialog1, #dialog2, #dialog3, #dialog4, #dialog5, #dialogGrabSword, #dialogEatMushroom {
    display: none;
    border-width: 15px;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    border-style: solid;
    border-image-source: url(../img/border-image-golden2.png);
    border-image-repeat: repeat;
    border-image-slice: 8 8 8 8;
    border-image-width: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url(../img/background-image-golden2.png) repeat repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
}